{
  "extends": ["standard", "eslint:recommended", "plugin:react/recommended"],
  "rules": {
    "one-var": "off",
    "semi": ["error", "always", {
      "omitLastInOneLineBlock": true
    }],
    "no-console": "off"
  },
  "parser": "babel-eslint"
}